* {
    margin: 0;
    padding: 0;
}
/*
.navbar-landing {
    background-color: transparent !important;
}
*/

.nav-link-custom {
    cursor: pointer;
    color: white;
}

.navbar-landing {
    background-color: #F44E77;
}

.navbar-landing-a a {
    color: white;
}

.landing-header {
    background-image: url('../img/BG.svg');
    background-size: cover;
    height: 700px;
    width: 100%;
}

.landing-header-content {
    padding-top: 100px;
}

/*
.landing-header-img img {
    width: 620px;
    height: 300px;
}
*/

.landing-header-title h1 {
    color: white;
}

.landing-header-title p {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.landing-header-content hr {
    color: white;
    border-width: 3px;
}

.landing-header-form {
    display: flex;
    justify-content: center;
}

.landing-header-form h5 {
    padding-top: 25px;
    color: #747474;
    font-weight: bold;
    font-size: 22px;
}

.header-form-text {
    width: 345px;
    margin: 0 auto;
}

.header-form-text p {
    color: #747474;
    font-size: 18px;
}

/*¿Quienes somos?*/

.landing-section-1 {
    width: 100%;
    height: 700px;
}

.landing-section-1 h4 {
    color: #554DDE;
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
}

.section-1-texto p {
    color: #6A6D9E;
    text-align: justify;
    font-size: 20px;
    padding-top: 20px;
}

.section-1-texto div {
    width: 350px;
}

.section-1-texto {
    display: flex;
    justify-content: center;
}

.section-1-img img {
    width: 450px;
    height: 250px;
}

.section-1-img {
    text-align: center;
}

.landing-section-1-contexto {
    padding-top: 75px;
}

/*Experiencia*/

.section-2-note img {
    width: 75px;
    height: 68px;
}

.section-2-note {
    display: flex;
    justify-content: center;
}

.section-2-note p {
    font-size: 15px;
    color: #6A6D9E;
}

.section-2-note h5 {
    font-size: 15px;
    color: #6A6D9E;
    font-weight: bold;
}

.section-2-note-text {
    padding-left: 5px;
}

.section-2-note-text p {
    padding: 0;
    margin: 0;
}

.section-2-note-text h5 {
    padding: 0;
    margin: 0;
}

.section-2-text div {
    width: 366px;
}

.section-2-text h4 {
    font-size: 50px;
    font-weight: bold;
    color: #554DDE;
}

.section-2-text p {
    font-size: 20px;
    color: #6A6D9E;
}

.section-2-text {
    display: flex;
    justify-content: center;
}

.landing-section-2 .row {
    padding-top: 150px;
    padding-bottom: 150px;
}

/*Servicios*/

.section-3-container-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-section-3 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-card {
    background-color: #554DDE;
}

.section-3-card-text p {
    font-size: 15px;
    text-align: justify;
    color: white;
    padding: 5px;
}

.section-3-card-text h4 {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.section-3-card-img {
    text-align: center;
}

.section-3-card-img img {
    width: 150px;
    height: 150px;
}

.section-3-title {
    font-size: 40px;
    color: #554DDE;
    padding-bottom: 30px;
}

/*Nuestros clientes*/
.section-4-h4 {
    text-align: center;
    padding-top: 100px;
    color: #554DDE;
    font-size: 40px;
}

.section-4-coursel {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Nuestros planes*/

.landing-section-5 .row {
    padding: 0;
    margin: 0;
}

.landing-section-5 {
    background-color: #554DDE;
    height: 1000px;
    width: 100%;
}

.section-5-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5-card-title {
    width: 100%;
    height: 200px;
    text-align: center;
}

.section-5-card-title h4 {
    font-size: 35px;
    padding-top: 30px;
}

.section-5-card-title p {
    font-size: 30px;
    padding-top: 30px;
}

.caracteristicas-opciones {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.caracteristicas-opciones span {
    padding-left: 5px;
    font-size: 15px;
}

.section-5-caracteristicas {
    height: 425px;
}

.section-5-button {
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5-title {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

/*Arquitectura*/

.landing-section-6 {
    height: 1000px;
    width: 100%;
}

.landing-section-6 .row {
    padding: 0;
    margin: 0;
}

.landing-arquitectura-info {
    padding-top: 150px;
}

.landing-arquitectura-img {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-arquitectura-img img {
    height: 575px;
    width: 600px;
}

.arq-info {
    width: 500px;
    margin: 0 auto;
}

.arq-info h4 {
    font-size: 40px;
    color: #554DDE;
    text-align: center;
    padding-bottom: 25px;
}

.arq-info p {
    font-size: 20px;
    text-align: justify;
    color: #6A6D9E;
}

.arq-info-puntos {
    width: 500px;
    margin: 0 auto;
}

.arq-punto {
    width: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.arq-text {
    padding-left: 20px;
}

.arq-text p {
    font-size: 20px;
    color: #6A6D9E;
    text-align: justify;
    padding: 0;
    margin: 0;
}

.arq-text h5 {
    font-size: 20px;
    font-weight: bold;
    color: #6A6D9E;
    text-align: left;
    padding: 0;
    margin: 0;
}

/*Beneficios*/

.landing-section-7 {
    height: 760px;
    width: 100%;
    display: flex;
    align-items: center;
}

.landing-box-beneficio {
    display: flex;
    width: 405px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.landing-box-beneficio-text {
    padding-left: 15px;
    width: 320px;
    height: 85px;
}

.landing-box-beneficio-text h5 {
    font-size: 18px;
    color: #6A6D9E;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.landing-box-beneficio-text p {
    font-size: 14px;
    color: #6A6D9E;
    padding: 0;
    margin: 0;
}

.landing-section-7 .row {
    padding: 0;
    margin: 0;
    width: 100%;
}

.landing-beneficios-1 {
    height: 435px;
}

.landing-beneficios-2 {
    height: 435px;
}

.landing-section-7 .row h4 {
    font-size: 40px;
    color: #554DDE;
    font-weight: bold;
    text-align: center;
}

/*Agendar Demo*/

.landing-section-8 {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}

.landing-section-8 .row {
    padding: 0;
    margin: 0;
    width: 100%;
}

.landing-section-8 .row h4 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #554DDE;
    padding-bottom: 50px;
}

.agendar-demo-1 div {
    width: 460px;
    height: 200px;
    margin: 0 auto;
}

.agendar-demo-1 div p {
    padding-top: 20px;
    font-size: 22px;
    color: #6A6D9E;
    text-align: justify;
}

.agendar-demo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Metodos de pago*/

.landing-section-9 {
    width: 100%;
    height: 700px;

    display: flex;
    align-items: center;
}

.landing-section-9 .row {
    padding: 0;
    margin: 0;
    width: 100%;
}

.metodos-pagos-1 .content {
    width: 400px;
    height: 225px;
}

.metodos-pagos-1 p {
    font-size: 22px;
    color: #6A6D9E;
    text-align: justify;
}

.metodos-pagos-1 h5 {
    font-size: 40px;
    color: #554DDE;
    text-align: justify;
}

.metodo-pagos-content {
    width: 400px;
    height: 180px;
}

.metodos-pagos-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.metodos-pagos-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*blog*/
.landing-section-10 {
    background-color: #554DDE;
    width: 100%;
    height: 350px;
}

.landing-section-10 .row {
    padding: 0;
    margin: 0;
    height: 350px;
}

.visita-blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visita-blog-content {
    width: 490px;
    height: 240px;
    text-align: center;
}

.visita-blog-content h4 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.visita-blog-content p {
    font-size: 24px;
    padding-top: 10px;
    color: white;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .landing-arquitectura-img img {
        width: 90%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /*Dar espacio*/
    .landing-section-2 {
        padding-bottom: 50px;
    }

    .landing-section-3 {
        padding-bottom: 50px;
    }

    .landing-section-4 {
        padding-bottom: 50px;
    }



    /*Landing header*/
    .landing-header-title div {
        text-align: center;
    }

    .landing-header {
        height: auto;
    }

    .landing-header-form {
        padding-bottom: 50px;
    }

    .contactenos-button {
        text-align: center;
    }

    /*Nuestros servicios*/
    .section-3-title {
        text-align: center;
    }

    .landing-section-3 {
        height: auto;
        width: 100%;
    }

    .section-3-container-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    /*Quienes somos*/

    .section-1-img img {
        width: 340px;
        height: auto;
    }

    /*Nuestros planes*/
    .landing-section-5 {
        background-color: #554DDE;
        height: auto;
        width: 100%;
    }

    .landing-section-5 .row {
        padding-bottom: 50px;
    }
    
    .card-content-mui {
        padding-bottom: 50px;
    }

    .section-5-card-container {
        padding-bottom: 50px;
    }

    /*Arquitectura*/
    .landing-section-6 {
        height: auto;
        width: 100%;
    }

    .landing-section-6 .row {
        padding-bottom: 150px;
    }

    .arq-info {
        width: 100%;
    }

    .arq-info-puntos {
        width: 100%;
        padding-top: 30px;
    }

    .arq-punto {
        width: 100%;
    }

    .landing-arquitectura-info {
        padding-top: 50px;
    }

    .landing-arquitectura-img img {
        height: auto;
        width: 100%;
    }

    /*Beneficios*/
    .landing-section-7 {
        height: auto;
        width: 100%;
        padding-bottom: 200px;
    }

    .landing-box-beneficio-text {
        width: 250px;
        height: 85px;
    }

    .landing-box-beneficio {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .landing-beneficios-1 {
        padding-top: 60px;
    }

    .landing-beneficios-2 {
        padding-top: 60px;
    }

    /*Agendar demo*/
    .agendar-demo-1 div {
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .agendar-demo-1 div p {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .agendar-demo-2 img {
        width: 312px;
        height: 200px;
    }

    .landing-section-8 .row h4 {
        padding-bottom: 0px;
    }

    .landing-section-8 {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*Metodos de pagos*/
    .metodos-pagos-2 img {
        width: 350px;
        height: 274px;
    }
    
    /*Blog*/
    .visita-blog-content {
        width: 100%;
        height: auto;
    }

    /*Nuestros clientes*/
    .section-4-coursel img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .section-4-coursel {
        height: 400px;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    /*Landing header*/
    .landing-header-title div {
        text-align: center;
    }

    .landing-header {
        height: auto;
    }

    .landing-header-form {
        padding-bottom: 50px;
    }

    .contactenos-button {
        text-align: center;
    }

    /*Experiencia*/
    .section-2-grid {
        padding-top: 30px;
    }

    /*Nuestros servicios*/
    .section-3-title {
        text-align: center;
    }

    .landing-section-3 {
        height: auto;
        width: 100%;
    }

    .section-3-container-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    /*Quienes somos*/

    .section-1-img img {
        display: none;
    }

    /*Nuestros planes*/
    .landing-section-5 {
        background-color: #554DDE;
        height: auto;
        width: 100%;
    }

    .landing-section-5 .row {
        padding-bottom: 50px;
    }
    
    .card-content-mui {
        padding-bottom: 50px;
    }

    .section-5-card-container {
        padding-bottom: 50px;
    }

    /*Arquitectura*/
    .landing-section-6 {
        height: auto;
        width: 100%;
    }

    .landing-section-6 .row {
        padding-bottom: 150px;
    }

    .arq-info {
        width: 100%;
    }

    .arq-info-puntos {
        width: 100%;
        padding-top: 30px;
    }

    .arq-punto {
        width: 100%;
    }

    .landing-arquitectura-img {
        display: none;
    }

    /*Beneficios*/
    .landing-section-7 {
        height: auto;
        width: 100%;
        padding-bottom: 200px;
    }

    .landing-box-beneficio-text {
        width: 250px;
        height: 85px;
    }

    .landing-box-beneficio {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .landing-beneficios-2 {
        padding-top: 60px;
    }

    /*Agendar demo*/
    .agendar-demo-1 div {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .agendar-demo-1 div p {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .agendar-demo-2 img {
        width: 312px;
        height: 200px;
    }

    .landing-section-8 .row h4 {
        padding-bottom: 0px;
    }

    .landing-section-8 {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*Metodos de pagos*/
    .metodos-pagos-2 img {
        width: 350px;
        height: 274px;
    }
    
    /*Blog*/
    .visita-blog-content {
        width: 100%;
        height: auto;
    }

    /*Nuestros clientes*/
    .section-4-coursel img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .section-4-coursel {
        height: 400px;
    }
}

/*Lado responsive Celular*/
@media (max-width: 600px) {
    .landing-header-form h5 {
        padding-top: 25px;
        color: #747474;
        font-weight: bold;
        font-size: 22px;
    }
    
    .header-form-text {
        width: 297.5px;
        margin: 0 auto;
    }
    
    .header-form-text p {
        color: #747474;
        font-size: 18px;
    }

    /*Landing header*/
    .landing-header-title div {
        text-align: center;
    }

    .landing-header {
        height: auto;
    }

    .landing-header-form {
        padding-bottom: 50px;
    }

    .contactenos-button {
        text-align: center;
    }

    /*Experiencia*/
    .section-2-grid {
        padding-top: 30px;
    }

    /*Nuestros servicios*/
    .section-3-title {
        text-align: center;
    }

    .landing-section-3 {
        height: auto;
        width: 100%;
    }

    .section-3-container-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    /*Quienes somos*/

    .section-1-img img {
        display: none;
    }

    /*Nuestros planes*/
    .landing-section-5 {
        background-color: #554DDE;
        height: auto;
        width: 100%;
    }

    .landing-section-5 .row {
        padding-bottom: 50px;
    }
    
    .card-content-mui {
        padding-bottom: 50px;
    }

    .section-5-card-container {
        padding-bottom: 50px;
    }

    /*Arquitectura*/
    .landing-section-6 {
        height: auto;
        width: 100%;
    }

    .landing-section-6 .row {
        padding-bottom: 150px;
    }

    .arq-info {
        width: 100%;
    }

    .arq-info-puntos {
        width: 100%;
        padding-top: 30px;
    }

    .arq-punto {
        width: 100%;
    }

    .landing-arquitectura-img {
        display: none;
    }

    /*Beneficios*/
    .landing-section-7 {
        height: auto;
        width: 100%;
        padding-bottom: 200px;
    }

    .landing-box-beneficio-text {
        width: 250px;
        height: 85px;
    }

    .landing-box-beneficio {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .landing-beneficios-2 {
        padding-top: 60px;
    }

    /*Agendar demo*/
    .agendar-demo-1 div {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .agendar-demo-1 div p {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .agendar-demo-2 img {
        width: 312px;
        height: 200px;
    }

    .landing-section-8 .row h4 {
        padding-bottom: 0px;
    }

    .landing-section-8 {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*Metodos de pagos*/
    .metodos-pagos-2 img {
        width: 350px;
        height: 274px;
    }
    
    /*Blog*/
    .visita-blog-content {
        width: 100%;
        height: auto;
    }

    /*Nuestros clientes*/
    .section-4-coursel img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .section-4-coursel {
        height: 400px;
    }
}