.blog-header {
    height: 350px;
    width: 100%;
    background-image: url('../../landing/img/BG.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.blog-header-title {
    color: white;
}

.blog-header-text {
    color: white
}

@media (max-width: 600px) {
    .blog-header-text {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
}