.link-dropdown {
  cursor: pointer;
}

.filtros-blog {
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-blog-filtros-h5 {
  padding-top: 50px;
}